body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

#board {
    display: flex;
    cursor: none;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
}


#board {
    border: 1px solid white;
}

.score-container {
    justify-content: center;
    align-items: center;
    margin: auto;
}

#player-score,
#computer-score {
    font-size: 15px;
    margin: 0;
}

#startbtn {

    background-color: black;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
}

#resetbtn {

    background-color: black;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
}

#resetbtn:hover {

    background-color: white;
    color: black;
    border: 2px solid black;
}

#startbtn:hover {

    background-color: white;
    color: black;
    border: 2px solid black;
}

/* .winner-loser-display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    color: white;
} */
.winner-loser-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 20px;
}