body {
    font-family: 'courier new';
    background-color: black;
    color: white;
    display: flexbox;
}

h1 {
    font-size: 55px;
    margin: 10px 0;
    text-align: center;
    color: white
}

#board {
    display: flex;
    cursor: none;
    margin: auto;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}

.score-container {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

#player-score,
#computer-score {
    font-size: 20px;
}

#startbtn {

    background-color: black;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
    margin-left: 10px;
}

#resetbtn {

    background-color: black;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
    margin-left: 10px;
}

#resetbtn:hover {

    background-color: white;
    color: black;
    border: 2px solid black;
}

#startbtn:hover {

    background-color: white;
    color: black;
    border: 2px solid black;
}

.winner-loser-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 70px;
    text-align: center;
    color: white;
}

.button-container {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-right: 20px;
}

.button-container {
    position: absolute;
    top: 100px;
    right: 30px;
    margin-top: 350px
}

.instructions {
    position: absolute;
    top: 60px;
    right: 40px;
    font-size: 18px;
    margin-right: 10px;
    text-align: center;
}


#player-score {
    order: 1;
    position: absolute;
    left: 10%;
    top: 50%;
}

#computer-score {
    order: 2;
    position: absolute;
    left: 80%;
    top: 50%;
}